.html {

    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;

    font-family: system-ui;
}

button {
    width: 162px;
    height: 50px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    background: #3b82f6;
    font-weight: 800;
}

.button1s {
    background: white;
    color: black;
}

form {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-38%, -50%);
}

a {
    text-decoration: none;
    color: white;
}

input {

    width: 73%;
    height: 41px;
    border-radius: 23px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 13px;
    padding: 1px;
}

/* h1,h2,h3,h4,h5,h6,p{
    color: white;
} */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding: 1px;
    height: 74px;

    /* background-image: linear-gradient(to right,#d619b0,#2729ab); */
    /* background-color: black; */
}

.header-manager {

    width: 35%;
}

.logo {
    margin-left: 96px;
}



.nav {
    margin-left: 77px;

}

.touch {
    margin-left: 164px;
    /* background: yellow; */
    width: 196px;
    height: 37px;
    text-align: center;
    margin-top: 11px;
    padding-top: 9px;
}

.th2 {
    display: inline;
}

.mainbackground {
    /* background-image: linear-gradient(to right,#d619b0,#2729ab); */
    /* background-color: black; */
    height: 787px;
    width: 100vw;
}

.ldiv {
    width: 50%;
}

.heading {

    font-size: 33px;

}

.rdiv {
    width: 50%;
}

.cv-button {
    margin: 30px 0px 0px 180px;
    width: 215px;
    background: #3b82f6;
    color: white;
    font-weight: 800;
    font-size: 19px;
}

.photo-circle {
    border-radius: 50%;
    height: 333px;
    width: 333px;
    background: yellow;
    margin: auto;
    margin-top: 244px;
}

.workin {

    width: 16%;
    margin-left: 58px;
    text-transform: uppercase;
}

.Project {
    overflow: hidden;
}

.projects-1 {
    display: flex;
    overflow-y: scroll;
    scroll-snap-type: both;
}

.box {
    scroll-snap-align: start;
    margin-left: 65px;
}

.boxess {
    height: 440px;
    width: 377px;
    border: 1px solid;
    margin: 29px;
    border-radius: 10px;

}

.imggg {
    width: 100%;
}

.boxtop {
    width: 93%;
    margin: 14px;
}

.button2s {
    margin-left: 5px;
}

.project-heading {
    font-size: 23px;
}

.headings {
    margin-left: 31px;
    font-size: 33px;
}

.technologies {
    margin: 31px 60px 21px 45px;
}

.technology-skills {
    width: 186px;
}

.technology-skills-rate {
    width: 100%;
    background: #3b82f6;
    height: 12px;
    border-radius: 13px;
}

.technology-skills-rate-javascript {
    width: 71%;
    background: #3b82f6;
    height: 12px;
    border-radius: 13px;
}

.technology-skills-rate-reactjs {
    width: 71%;
    background: #3b82f6;
    height: 12px;
    border-radius: 13px;
}


.technology-skills-rate-nodejs {
    width: 43%;
    background: #3b82f6;
    height: 12px;
    border-radius: 13px;
}

.technology-skills-rate-reactnative {
    width: 13%;
    background: #3b82f6;
    height: 12px;
    border-radius: 13px;
}


.technology-skills-parent {
    display: flex;
    font-size: 13px;
}

.technology-skills-level {
    text-align: end;
    width: 100%;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.dot {
    height: 24px;
    width: 24px;
    background: #3b82f6;
    border-radius: 14px;
    margin-top: 15px;
    margin-right: 14px;

}

.additional-skills-head {

    margin: 3px 218px 0px 62px;
}

.dot-manager {
    margin-right: 117px;
}

.dot-p {

    font-weight: bold;
    margin-top: 18px;
    letter-spacing: 0.2px;
}

.journey {

    margin-left: 21px;
}

.p-journey {

    width: 979px;
}

.aboutme {
    margin-top: 127px;
}

.straight-line {
    width: 632px;
    height: 11px;
    background: white;
    transform: rotate(90deg);
    position: relative;
    right: 162px;
    z-index: -1;
    top: 342px;
}

.skills {
    margin: 100px 0px 100px 0px;
}

.intro {
    margin: 184px 0px 0px 178px;
}

.typewriter {
    color: #3b82f6
}

.last-journey {
    margin-bottom: 65px;
}

.icons {
    margin-right: 26px;
}

.right-disclaimer {

    width: 50%;
    text-align-last: end;
    margin-top: 20px;
}

.made-by {
    text-align: center;
    font-size: 19px;
    font-weight: 200;
}

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-h1 {
    font-size: 78px;
    height: 36px;
}

.error-h2 {
    font-size: 52px;
}

.enquery {

    width: 516px;
    height: 172px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 13px;
    padding: 12px;
    border-radius: 22px;

}

.message {
    font-size: 88px;
    height: 69px;
    color: gold;
}

.contact-l {
    width: 45%;
    margin-left: 16px;
}

.contact-r {
    width: 53%;
    margin-top: 35px;
}

.contact-div {
    font-size: 39px;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
}

.contact-icon {
    margin-top: 43px;
    width: 84px;
}

.submit-button {
    margin: 12px 0px 0px 373px;
}

@media screen and (min-width: 374px) and (max-width: 600px) {
    .header-manager {
        width: 100%;
    }

    .hcenter {

        width: 100%;
    }

    .cv-button {
        margin: 30px 0px 0px 76px;
    }

    .none {
        display: none;
    }

    .nav {
        margin-left: 0px;
        font-size: 16px;
        width: 33%;
        text-align: center;
    }

    .intro {
        margin: 184px 0px 0px 44px;
    }

    .ldiv {
        width: fit-content;
    }

    .boxess {
        height: fit-content;
        width: 326px;
    }

    .button2s {
        margin-left: 6px;
    }

    button {
        width: 143px;
    }

    .p-journey {
        width: 62%;
    }

    .additional-skills-head {
        margin: 3px 17px 0px 30px;
    }

    .straight-line {
        width: 908px;
        right: 331px;
        top: 489px;
    }
}


    @media screen and (min-width: 601px) and (max-width: 800px) {
        .logo {
            text-align: center;
            width: 71%;
            margin-bottom: 45px;
        }

        .hcenter {
            flex: none;
            width: 100%;
            margin: 0px;
        }

        .none {
            display: none;
        }

        .ldiv {
            width: 100%;
        }

        .intro {

            margin: 164px 0px 0px 104px;
        }

        .cv-button {
            margin: 54px 0px 0px 180px;
        }

        .additional-skills-head {
            margin: 3px 0px 0px 62px;
        }

        .p-journey {
            width: 77%;
        }

        .straight-line {
            width: 717px;
            right: 202px;
            top: 387px;
        }

        .nav {
            width: 33%;
            text-align: center;
            margin: 0px;
        }

        .header-manager {
            width: 100%;
        }

        .dot-manager {
            width: 100%;
        }
    }

    @media screen and (min-width: 801px) and (max-width: 900px) {
        .tecno {
            display: none;
        }

        .logo {
            text-align: center;
            width: 71%;
            margin-bottom: 45px;
        }

        .hcenter {
            flex: none;
            width: 100%;
            margin: 0px;
        }

        .ldiv {
            width: 100%;
        }

        .intro {

            margin: 164px 0px 0px 104px;
        }

        .cv-button {
            margin: 54px 0px 0px 180px;
        }

        .additional-skills-head {
            margin: 3px 0px 0px 62px;
        }

        .p-journey {
            width: 439px;
        }

        .straight-line {
            width: 717px;
            right: 202px;
            top: 387px;
        }

        .nav {
            width: 24%;
            text-align: center;
            margin: 0px;
        }

        .header-manager {
            width: 100%;
        }

        .dot-manager {
            width: 100%;
        }
    }

    @media screen and (min-width: 901px) and (max-width: 1280px) {

        .logo {
            text-align: center;
            width: 76%;
            margin-bottom: 45px;
        }

        .header-manager {
            width: 100%;
        }

        .hcenter {

            width: 100%;
        }

        .nav {
            width: 20%;
            text-align: center;
            margin: 0px;
        }

        .p-journey {
            width: 80%;
        }

        .straight-line {
            width: 695px;
            right: 193px;
            top: 373px;
        }
    }
